#wrapper {
    width: 1366px;
    height: auto;
    margin: 0 auto;
}

h1 {
    text-align: center
}


p {
    margin-left: 20px;
    line-height: 1.5em;
}

#textBody {
    width: 800px;
    margin: 0 auto;
}