body {
    background-color: #E4E4E4;
    font-family: 'Raleway';
    font-weight: 800;
}
main {
    width: 1366px;
    height: 728px;
    margin: 0 auto;
    background-image: url("./images/pensGray.jpg");
    background-size: 100% 120%;
    background-position: center center;
    position: relative;
    /*overflow*/;
}

h1 {
    color: black;
    background-color: #f5f5f5;
    font-size: 43px;
    position: absolute;
    left: 0;
    top: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 800;
    border: 1px solid black;
}

.pen {
    width: 175px;
    height: 450px;
    background-color: transparent;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    position: absolute;
}

.pen:hover {
    background-color: #ffffff60;
}

#penLGr { bottom: -10px; left: 140px; }
#penDGr { bottom: 50px; left: 280px; }
#penB { bottom: 15px; left: 440px; }
#penP { bottom: 50px; left: 585px; }
#penDGy { bottom: 30px; left: 730px; }
#penLGy { bottom: 65px; left: 880px; }
#penW { bottom: 25px; left: 1040px; }

#overlay {
    width: 500px;
    height: 728px;
    position: absolute;
    right: 0;
    background-color: transparent;
    /* background-image: url("./images/wall.jpg");
    background-size: 100% 100%; */
    visibility: hidden;
}

#overlayBackground {
    background-image: url("./images/wall.jpg");
    background-size: 100% 100%;
    width: inherit;
    height: inherit;
    opacity: 0.35;
}

#overlayBtn {
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: black;
    top: 5px;
    right: 5px;
    font-size: 22px;
    position: absolute;
    opacity: 1;
    cursor: pointer;
    color: #ffffffa8;
    font-family: 'Raleway';
}

#overlayBtn:hover {
    color: black;
}

#overlayImg {
    width: 330px;
    height: 360px; /* og 360 */
    background-image: url(./images/fish.jpg);
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    position: absolute;
    left: 80px;
    top: 125px;
    background-position: top;
    border-radius: 5px;
    border: 10px solid #6B926E;
    opacity: 1;
}

.tape {
    background-color: #ffffff76;
    border: 1px solid #707070;
    position: absolute;
    
}

#imgTape {
    width: 150px;
    height: 40px;
    top: 105px;
    left: 180px;
    opacity: 1;
}

#overlayText {
    width: 360px;
    height: 60px;
    color: black;
    background-color: #ffffff;
    position: absolute;
    padding: 20px;
    left: 50px;
    /* border-radius: 25px; */
    top: 520px;
    opacity: 1;
    border: 1px solid #707070;
    font-size: large;
    font-weight: 800;
}

.pageBtn {
    background-color: #ffffff83;
    border-radius: 49px;
    border: 1px solid #707070;
    color: black;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    right: 40px;
    cursor: pointer;
    font-weight: 800;
}

.backBtn {
    background-color: #ffffff83;
    border-radius: 35px;
    border: 1px solid #424242;
    color: #313131;
    font-size: 15px;
    width: 100px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 18px;
    font-weight: 800;
}

.backBtn:hover {
    background-color: white;
}

.pageBtn:hover {
    background-color: white;
}

#toSecPage { 
    width: 260px;
    height: 50px;
    position: relative;
    top: 49%;
    left: 41%;
 }

#to1bPage {
    width: 240px;
    height: 50px;
    position: absolute;
    top: 85%;
}
/* start of page 2 style */

#toThirdPage { width: 200px; height: 50px; }

#pg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 728px;
    font-weight: 800;
}

#mag {
    background-color: black;
    border: 15px solid #d50000;
    margin: 20px;
    width: 554px;
    height: 652px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    background-image: url("");
    background-size: cover;
    position: relative;
}

#border {
    width: 552px;
    height: 650px;
    border: 2px solid white;
}

h2 {
    color: white;
    font-size: 130px;
    margin: 0;
    text-align: center;
    font-family: 'Bodoni Moda';
    font-weight: 400;
}

img {
    display: none;
}

h5 {
    font-size: x-small;
    color: black;
    font-family: "Roboto Mono";
    font-weight: 400;
}

#center1 {
    width: 500px;
    margin: 0 auto;
    text-align: center; 
}

#left1 {
    width: 230px;
    bottom: 5px;
}

#left2 {
    width: 500px;
    top: -30px;
    left: 0;
}

.leftText {
    position: absolute;
    left: 15px;
}

#right1 {
    position: absolute;
    top: -30px;
    right: 1px;
}

h3 {
    margin-bottom: 0px;
    color: white;
    font-weight: normal;
    font-size: 25px;
}

p {
    color: white;
    margin-top: 10px;
    font-size: medium;
    font-weight: 400;
}

input:focus {
    outline: none;
    background-color: #EEE;
    color: black;
}

#inputBox {
    background-color: rgb(255 255 255 / 54%);
    width: 434px;
    border-radius: 27px;
    height: 560px;
    text-align: center;
    flex-direction: column;
    display: flex;
    font-weight: 800;
    font-family: 'Raleway';
    box-shadow: -1px -1px 0 #848484, 1px -1px 0 #848484, -1px 1px 0 #848484, 1px 1px 0 #848484, 0px 3px 6px #ffffff6b;
    position: absolute;
}

}

form {
    display: inline-grid;
    margin: auto;
    margin-top: 0;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(255 255 255 / 52%);
    border: none;
    border-radius: 15px;
    color: black;
    box-shadow: inset 0px 3px 10px 2px rgb(187 187 187 / 50%);
    border: 1px gray solid;
}

select {
    padding: 10px;
    margin-bottom: 20px;
    color: black;
    background-color: rgb(255 255 255 / 52%);
    border: none;
    border-radius: 15px;
    outline: none;
    box-shadow: inset 0px 3px 10px 2px rgb(187 187 187 / 50%);
    border: 1px gray solid;
}

select:focus {
    outline: none;
    background-color: #EEE;
    color: black;
}

h4 {
    color: black;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-top: 22px;
}

label {
    text-align: left;
    color: black;
    margin-bottom: 5px;
    font-weight: 600;
}

.buttonPg2 {
    color: black;
    background-color: rgb(255 255 255 / 52%);
    border: 1px solid black;
    width: 125px;
    height: 30px;
    font-weight: bold;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 3px 10px 2px rgb(187 187 187 / 50%);
}

.buttonPg2:hover {
    color: black;
    background-color: white;
}

#magTape1 {
    width: 160px;
    height: 50px;
    top: 80px;
    right: 410px;
    transform: rotate(45deg);
}

#magTape2 {
    width: 160px;
    height: 50px;
    bottom: 85px;
    left: 410px;
    transform: rotate(45deg);
}

/* Page 3 styles */
#magPg3 {
    width: 615px;
    height: 720px;
    background-color: white;
    position: absolute;
    top: 380px;
    left: 370px;
}

#pg3 {
    width: 1366px;
    height: 1500px;
    background-image: url("./images/finalBackground.jpg");
    background-size: 100% 100%;
    position: relative;
}

#mag3 {
    background-color: black;
    border: 15px solid #e40303;
    margin: 20px;
    width: 600px;
    height: 690px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    background-image: url("");
    background-size: cover;
    position: absolute;
    top: 360px;
    left: 270px;
}

#border3 {
    width: 598px;
    height: 688px;
    border: 2px solid white;
}

#center1C {
    width: 500px;
    margin: 0 auto;
    text-align: center; 
}

#left1C {
    width: 230px;
    bottom: 5px;
}

#left2C {
    width: 500px;
    top: -30px;
    left: 0;
}

#right1C {
    position: absolute;
    top: -30px;
    right: 1px;
}

#pg1b {
    width: 1366px;
    height: 1500px;
    background-image: url("./images/background1b.jpg");
    background-size: 100% 100%;
    position: relative;
    font-weight: 800;
    font-family: 'Raleway';
}

footer {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

a {
    color: gray;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}

a:hover {
    color: white;
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 455px;
    height: 500px;
    position: absolute;
    cursor: pointer;
    margin-top: 5px;

}

#sq1 {top: 0; left: 0;}
#sq2 {top: 0; left: 455px;}
#sq3 {top: 0; left: 910px;}
#sq4 {top: 500px; left: 0}
#sq5 {top: 1000px; left: 0}
#sq6 {top: 1000px; left: 455px;}
#sq7 {
    top: 500px; 
    left: 910px;
    height: 1000px;
}


.squareText {
    color: black;
    width: 415px;
    height: 460px;
    text-align: center;
    background-image: url(./images/wallTransparent.png);
    position: absolute;
    padding: 20px;
    opacity: 1;
    font-size: 15px;
    font-weight: 800;
    line-height: 440px;
    text-decoration: 4px ghostwhite solid underline;
}

.squareTextLong {
    color: black;
    width: 415px;
    height: 960px;
    text-align: center;
    background-image: url(./images/wallTransparent.png);
    position: absolute;
    padding: 20px;
    opacity: 1;
    font-size: 15px;
    font-weight: 800;
    text-decoration: 4px ghostwhite solid underline;
    line-height: 880px;
}

#formBackground {
    width: 1366px;
    height: 728px;
    position: absolute;
    display: flex;
    opacity: 0.3;
}

form {
    display: grid;
    flex-direction: column;
    justify-content: center;
}