body {
    font-family: 'Roboto Mono';
    color: #666;
    text-align: center;
    background-color: black;
}

main {
    width: 1366px;
    height: 730px;
    margin: 0 auto;
    overflow: hidden;
}

.label {
    width: 78px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

#container {
    width: 1050px;
    height: 924px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-top: -89px;
    border-radius: 50%;
}

#container img {
    display: block;
    position: absolute;
    width: 1366px;
    height: 924px;
    transition: all 3s ease;
    filter: contrast(1.43);
}

#btnBar {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    top: 85px;
    left: 580px;
    position: absolute;
}

#btnE:hover { background-color: #75E0F4;}
#btnD:hover { background-color: #75CDF4;}
#btnC:hover { background-color: #75B4F4;}
#btnB:hover { background-color: #75A1F4;}
#btnA:hover { background-color: #7589F4;}

.notSelected {
    width: 78px;
    height: 100px;
    background-color: #141414;
    box-shadow: 0px 3px 10px #939393;
    border: none;
}

.sel {
    width: 78px;
    height: 100px;
    box-shadow: 0px 3px 10px #939393;
    border: none;
}

#page2 {
    display: none;
    position: relative;
}

#page1 {
    color: white;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 1366px;
    height: 730px;
    justify-content: center;
}

h2 {
    color: #707070;
    display: inline;
    font-size: 85px;
    font-weight: normal;
    text-shadow:  -1px -1px 0 #9fbcff, 1px -1px 0 #9fbcff, -1px 1px 0 #9fbcff, 1px 1px 0 #9fbcff, 0px 3px 6px #ffffff6b;
}

#telescope {
    width: 270px;
    height: 80px;
    border: 1px solid #707070;
    background-color: transparent;
    color: #707070;
    font-size: 35px;
    border-radius: 14px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

#telescope:hover {
    color: #9fbcff;
    border: 1px solid #9fbcff;
}

.plnt {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #00CEFF;
    position: absolute;
    display: none;
}

#planet1 {
    background-image: url("./images/bowl.jpg");
    background-size: 300% 300%;
    background-position: -95px 200px;
    top: 190px;
    left: -400px;
}

#planet2 {
    background-image: url("./images/station.jpg");
    background-size: 300% 300%;
    background-position: -95px 200px;
    top: 70px;
    left: 200px;
}

#planet3 {
    background-image: url("./images/coins.jpg");
    background-size: 360% 360%;
    background-position: -117px 302px;
    top: 500px;
    left: -100px;
}

#planet4 {
    background-image: url("./images/turtle.jpeg");
    background-size: 300% 300%;
    background-position: -50px 490px;
    top: 300px;
    left: 50px;
}

#planet5 {
    background-image: url("./images/ring.jpeg");
    background-size: 300% 300%;
    background-position: -100px 510px;
    top: 30px;
    left: -150px;
}

.plnt:hover {
    border: 1px solid #00FF89;
}

article {
    position: absolute;
}

#scope {
    transform: translate(15%, 0px);
    height: 730px;
    overflow: hidden;
}

#overlay {
    width: 1366px;
    height: 730px;
    background-color: #8080807a;
    position: absolute;
    display: none;
}

#figure1 {
    width: 460px;
    height: 460px;
    background-image: url("images/bowl.jpg");
    background-size: 100% 100%;
    border-radius: 54px;
    border: 2px solid #7589F4;
}

#overlayContainer {
    display: none;
    width: 1366px;
    height: 730px;
    justify-content: center;
    align-items: center;
    color: white;
}

figcaption {
    font-size: 25px;
    font-weight: 100;
    margin: 5px;
    text-align: left;
}

#exitOverlay {
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    font-weight: 100;
    color: white;
    border: none;
}

p {
    width: 580px;
    font-size: 50px;
    font-weight: normal;
    text-align: left;
}

#overlayContainer p {
    background-color: #242a4a;
    padding: 15px;
    line-height: 1.5;
    font-size: 43px;
}

#next {
    color: white;
    position: relative;
    font-size: 50px;
    left: 230px;
    top: 210px;
    background: transparent;
    border: none;
}

#prev {
    color: white;
    position: relative;
    font-size: 50px;
    left: -230px;
    top: 215px;
    background: transparent;
    border: none;
}

#zoom {
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    color: gray;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 10px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: white;
}

@keyframes grow {
    0%   {
        width: 0px;
      height: 0px;
    }
    5%   {
        width: 5px;
      height: 5px;
    }
    10%   {
        width: 10px;
      height: 10px;
    }
    15%   {
        width: 15px;
      height: 15px;
    }
    20%   {
        width: 20px;
      height: 20px;
    }
    25%   {
        width: 25px;
      height: 25px;
    }
    30%   {
        width: 30px;
      height: 30px;
    }
    35%   {
        width: 35px;
      height: 35px;
    }
    40%   {
        width: 40px;
      height: 40px;
    }
    45%   {
        width: 45px;
      height: 45px;
    }
    50%   {
        width: 50px;
      height: 50px;
    }
    55%   {
        width: 55px;
      height: 55px;
    }
    60%   {
        width: 60px;
      height: 60px;
    }
    65%   {
        width: 65px;
      height: 65px;
    }
    70%   {
        width: 70px;
      height: 70px;
    }
    75%   {
        width: 75px;
      height: 75px;
    }
    80%   {
        width: 80px;
      height: 80px;
    }
    85%   {
        width: 85px;
      height: 85px;
    }
    90%   {
        width: 90px;
      height: 90px;
    }
    95%   {
        width: 95px;
      height: 95px;
    }
    100%   {
        width: 100px;
      height: 100px;
    }
  }