.post {
    width: 460px;
    height: auto;
    background-color: beige;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 10px 6px -6px darkslategray;

}

.container {
    background-image: url('images/backgroundJournal.png');
    width: 1366px;
    height: auto;
    margin: 0 auto;
    background-size:100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}

body {
    font-family: 'Playfair Display';
}

p {
    line-height: 1.5em;
}

h1 {
    color: beige;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    width: 700px;
    text-align: center;
}

a {
    background-color: transparent;
    color: beige;
    text-decoration: none;
    font-size: medium;
}

footer {
    position: relative;
    margin-top: 100px;
}

a:hover {
    color: black;
}
