.wrapper {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    margin: 0 auto !important;
    padding-top: 2em;
}

/*#banner.oval {
    width: 300px;
    height: 750px;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
    margin-left: 120px;
    margin-bottom: 100px;
    border-radius: 50%;
    position: relative;
}*/

#banner {
    width: 400px;
    height: 600px;
    margin-top: 400px;
    margin-left: 170px;
    background-color: transparent;
    border-radius: 60% 40% 70% 30% / 70% 60% 40% 30%;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    /* border-radius: 50%; */
    border: 1px solid black;
    position: absolute;
}

.flex-container {
    height: 800px;
    width: 1366px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

section {
    border: 10px;
    height: 312px;
    width: 200px;
    border-style: groove;
    Border-color: burlywood;
    background: lightgoldenrodyellow;
    margin-left: 70px;
    padding: 12px;
}

header {
    align-content: center;

}

.circle {
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    display: block;
    box-shadow: inset -10px -10px 10px rgb(0 0 0 / 15%);
    background: beige;
    position: absolute;
}

#marble1 { margin-left: 1000px; margin-bottom: 700px; }
#marble2 { margin-left: 980px; margin-bottom: 660px; }
#marble3 { margin-left: 960px; margin-bottom: 620px; }

body {
    background: linear-gradient(to right, #fffdeb 47%, #61B2BD 100%);
}

#custom {
    width: 350px;
    height: 450px;
    border-radius: 30% 70% 30% 70% / 50% 80% 30% 70%;
    /* border-radius: 50%; */
    margin-top: 70px;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    border: 1px solid;
    position: absolute;
}

#cus2 {
    width: 300px;
    height: 600px;
    margin-left: 0px;
    margin-top: 500px;
    border-radius: 50% 40% 50% 80% / 50% 80% 40% 10%;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    border: 1px solid black;
    /* border-radius: 50%; */
    position: absolute;
}

#cus3 {
    width: 500px;
    height: 700px;
    margin-top: -50px;
    margin-left: 60px;
    background-color: transparent;
    border-radius: 60% 40% 70% 30% / 70% 60% 40% 30%;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    /* border-radius: 50%; */
    border: 1px solid black;
    position: absolute;
}

#cus4 {
    width: 400px;
    height: 600px;
    margin-left: -30px;
    margin-top: -100px;
    border-radius: 30% 70% 30% 70% / 50% 80% 30% 70%;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    border: 1px solid black;
    /* border-radius: 50%; */
    position: absolute;
}

#cus5 {
    width: 400px;
    height: 600px;
    margin-top: 400px;
    margin-left: 170px;
    background-color: transparent;
    border-radius: 60% 40% 70% 30% / 70% 60% 40% 30%;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    /* border-radius: 50%; */
    border: 1px solid white;
    position: absolute;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

ol {
    list-style-type: none;
}

.stained-glass {
    width: 480px;
    height: 950px;
    border: 1px black solid;
    overflow: hidden;
    margin-bottom: 140px;
    margin-left: 10px;
    position: relative;
}

