.wrapper {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    /*margin: 1em auto;*/
    padding-top: 2em;
}

#banner {
    width: 300px;
    height: 300px;
    background-color: burlywood;
    margin-left: 900px;
}

.flex-container {
    height: auto;
    width: 800px;
    display: flex;
    background-color: cadetblue;
    align-items: center;
    justify-content: center;
}