.wrapper {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    /*margin: 1em auto;*/
    padding-top: 2em;
}

#banner.oval {
    width: 300px;
    height: 600px;
    background-color: burlywood;
    margin-left: 60px;
    border-radius: 50%;
}

.flex-container {
    height: 650px;
    width: 1000px;
    display: flex;
    background-color: cadetblue;
    align-items: center;
    justify-content: center;
}

section {
    border: 1px solid black;
}