.wrapper {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    margin: 0 auto !important;
    padding-top: 2em;
}

/*#banner.oval {
    width: 300px;
    height: 750px;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
    margin-left: 120px;
    margin-bottom: 100px;
    border-radius: 50%;
    position: relative;
}*/

#banner {
    width: 400px;
    height: 600px;
    background-color: transparent;
    border-radius: 60% 40% 70% 30% / 70% 60% 40% 30%;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    margin-left: 120px;
    margin-bottom: -200px;
    /* border-radius: 50%; */
    border: 1px solid white;
    position: relative;
}

.flex-container {
    height: 800px;
    width: 1366px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

section {
    border: 10px;
    height: 312px;
    width: 200px;
    border-style: groove;
    Border-color: burlywood;
    background: lightgoldenrodyellow;
    margin-left: 70px;
    padding: 12px;
}

header {
    align-content: center;

}

.circle {
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    display: block;
    box-shadow: inset -10px -10px 10px rgb(0 0 0 / 15%);
    background: beige;
    position: absolute;
}

#marble1 { margin-left: 1000px; margin-bottom: 700px; }
#marble2 { margin-left: 980px; margin-bottom: 660px; }
#marble3 { margin-left: 960px; margin-bottom: 620px; }
#marble4 { margin-left: 950px; margin-bottom: 580px; }
#marble5 { margin-left: 940px; margin-bottom: 540px; }
#marble6 { margin-left: 935px; margin-bottom: 500px; }
#marble7 { margin-left: 932px; margin-bottom: 460px; }
#marble8 { margin-left: 938px; margin-bottom: 420px; }

body {
    background: linear-gradient(to right, #fffdeb 47%, #61B2BD 100%);
}

#custom {
    width: 350px;
    height: 450px;
    background-color: transparent;
    border-radius: 30% 70% 30% 70% / 50% 80% 30% 70%;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    margin-left: 900px;
    margin-bottom: 350px;
    border: 1px solid white;
    /* border-radius: 50%; */
    position: absolute;
}

.ban:hover {
    border: 1px solid;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

ol {
    list-style-type: none;
}


