.wrapper {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    margin: 0 auto !important;
    padding-top: 2em;
}

header {
    text-align: center;
    color: #3c1414;
    /* box-shadow: inset 0px 0px 8px 0 rgb(0 0 0 / 20%), inset 0px 2px 20px 0 rgb(0 0 0 / 19%); */
    padding: 10px;
    padding-left: 30px;
    width: 700px;
    /* margin: 0 auto !important; */
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 40px;
    border-radius: 25px;
    border: 1px solid burlywood;
    /* border-radius: 50%; */
    /* border-radius: 60% 40% 70% 30% / 70% 60% 40% 30%; */
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgb(97 178 189 / 40%) -5px 5px, rgb(97 178 189 / 30%) -10px 10px, rgb(97 178 189 / 20%) -15px 15px, rgb(97 178 189 / 10%) -20px 20px, rgb(97 178 189 / 5%) -25px 25px;
}

body {
    background: linear-gradient(to right, #f5eee5 47%, #61B2BD 100%);;
}

.flex-container {
    height: 550px;
    width: 1366px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
}

.section-box {
    width: 850px;
    height: 500px;
    /* position: relative; */
    background-color: white;
    align-items: center;
    display: flex;
    margin-bottom: 0px;
    /* justify-content: center; */
    /* margin-left: 0px; */
    border-radius: 30% 70% 30% 70% / 50% 80% 30% 70%;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
 }

section {
    border: 10px;
    height: 400px;
    width: 200px;
    border-style: groove;
    /* Border-color: #ba8759; */
    /* border-color: #b08d57; */
    border-color: burlywood;
    /* border-color: #c59e66; */
    background: transparent;
    box-shadow: inset 0 0 2000px rgb(245 238 229 / 60%);
    margin-left: 30px;
    padding: 12px;
    border-radius: 5px;
    /* flex-direction: column; */
    /* display: flex; */
    /* position: absolute; */
}

ol {
    list-style-type: none;
}

a {
    background-color: transparent;
    color: grey;
    text-decoration: none;
    font-size: large;
}

a:hover {
    color: black;
}

h2 {
    text-decoration: wavy;
}

.stained-glass {
    width: 390px;
    height: 790px;
    overflow: hidden;
    margin-bottom: 220px;
    margin-left: 50px;
    position: relative;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: inset 0px 0px 8px 0 rgb(0 0 0 / 20%), inset 0px 2px 20px 0 rgb(0 0 0 / 19%);
}

#glass1 {
    width: 350px;
    height: 450px;
    border-radius: 30% 70% 30% 70% / 50% 80% 30% 70%;
    /* border-radius: 50%; */
    margin-top: 70px;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    /*border: 1px solid #f5eee5;*/
    border: 1px solid;
    position: absolute;
}

#glass2 {
    width: 400px;
    height: 600px;
    margin-top: 400px;
    margin-left: 170px;
    background-color: transparent;
    border-radius: 60% 40% 70% 30% / 70% 60% 40% 30%;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    /* border-radius: 50%; */
    /*border: 1px solid #f5eee5;*/
    border: 1px solid;
    position: absolute;
}

#glass3 {
    width: 300px;
    height: 600px;
    margin-left: 0px;
    margin-top: 500px;
    border-radius: 50% 40% 50% 80% / 50% 80% 40% 10%;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    /*border: 1px solid #f5eee5;*/
    border: 1px solid;
    /* border-radius: 50%; */
    position: absolute;
}

#glass4 {
    width: 500px;
    height: 700px;
    margin-top: -50px;
    margin-left: 60px;
    background-color: transparent;
    border-radius: 60% 40% 70% 30% / 70% 60% 40% 30%;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    /* border-radius: 50%; */
    /*border: 1px solid #f5eee5;*/
    border: 1px solid;
    position: absolute;
}

#glass5 {
    width: 400px;
    height: 600px;
    margin-left: -30px;
    margin-top: -100px;
    border-radius: 30% 70% 30% 70% / 50% 80% 30% 70%;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    /*border: 1px solid #f5eee5;*/
    border: 1px solid;
    /* border-radius: 50%; */
    position: absolute;
}

#glass6 {
    width: 500px;
    height: 700px;
    margin-top: 210px;
    margin-left: -120px;
    background-color: transparent;
    border-radius: 60% 40% 70% 30% / 70% 60% 40% 30%;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 45%);
    /* border-radius: 50%; */
    /*border: 1px solid #f5eee5;*/
    border: 1px solid;
    position: absolute;
}

.light {
    box-shadow: inset 0 0 2000px rgb(200 200 200 / 45%);
}

#glass1:hover{ animation: kaleidoscope 3s infinite}
#glass2:hover{ animation: kaleidoscope 3s infinite}
#glass3:hover{ animation: kaleidoscope 3s infinite}
#glass4:hover{ animation: kaleidoscope 3s infinite}
#glass5:hover{ animation: kaleidoscope 3s infinite}
#glass6:hover{ animation: kaleidoscope 3s infinite}

@keyframes kaleidoscope {
    0% {
        box-shadow: inset 0 0 2000px rgb(182 227 220 / 45%);
    }
    
    15% {
        box-shadow: inset 0 0 2000px rgb(192 236 237 / 45%);
    }
    30% {
        box-shadow: inset 0 0 2000px rgb(84 212 83 / 45%);
    }
    45% {
        box-shadow: inset 0 0 2000px rgb(92 184 237 / 45%);
    }
    60% {
        box-shadow: inset 0 0 2000px rgb(89 157 235 / 45%);
    }
    85% {
        box-shadow: inset 0 0 2000px rgb(97 121 237 / 45%);
    }
    100% {
        box-shadow: inset 0 0 2000px rgb(106 102 237 / 45%);
    }
 }

 footer {
    text-align: center;
}

/*#glass2.oval {
    width: 300px;
    height: 750px;
    background-color: transparent;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
    margin-left: 120px;
    margin-bottom: 100px;
    border-radius: 50%;
    position: relative;
}


.circle {
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    display: block;
    box-shadow: inset -10px -10px 10px rgb(0 0 0 / 15%);
    background: beige;
    position: absolute;
}

#marble1 { margin-left: 1000px; margin-bottom: 700px; }
#marble2 { margin-left: 980px; margin-bottom: 660px; }
#marble3 { margin-left: 960px; margin-bottom: 620px; }
*/