.wrapper {
    width: 100%;
    max-width: 1366px;
    min-width: 900px;
    /*margin: 1em auto;*/
    padding-top: 2em;
}

#banner.oval {
    width: 300px;
    height: 750px;
    background-color: burlywood;
    margin-left: 120px;
    margin-bottom: 100px;
    border-radius: 50%;
    position: relative;
}

.flex-container {
    height: 550px;
    width: 1360px;
    display: flex;
    background-color: cadetblue;
    align-items: center;
    justify-content: center;
}

section {
    border: 1px solid black;
    height: 350px;
    width: 200px;
    margin-left: 70px;
    padding: 10px;
}

header {
    align-content: center;

}

.circle {
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 50%;
    display: block;
    box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
    background: beige;
    position: absolute;
}

#marble1 { margin-left: 1000px; margin-bottom: 700px; }
#marble2 { margin-left: 980px; margin-bottom: 660px; }
#marble3 { margin-left: 960px; margin-bottom: 620px; }
#marble4 { margin-left: 950px; margin-bottom: 580px; }
#marble5 { margin-left: 940px; margin-bottom: 540px; }
#marble6 { margin-left: 935px; margin-bottom: 500px; }
#marble7 { margin-left: 932px; margin-bottom: 460px; }
#marble8 { margin-left: 938px; margin-bottom: 420px; }

body {
    background-color: cadetblue;
}