body {
    background-color: black;
}
main {
    width: 1366px;
    height: 728px;
    margin: 0 auto;
    background-image: url("./images/pens.jpg");
    background-size: 100% 100%;
    position: relative;
}

h1 {
    color: black;
    background-color: #ffffff55;
    font-size: 43px;
    position: absolute;
    left: 0;
    top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.pen {
    width: 175px;
    height: 400px;
    background-color: transparent;
    border-radius: 100px;
    border: none;
    position: absolute;
}

.pen:hover {
    background-color: #ffffff30;
}

#penLGr { bottom: 50px; left: 140px; }
#penDGr { bottom: 110px; left: 280px; }
#penB { bottom: 75px; left: 440px; }
#penP { bottom: 110px; left: 585px; }
#penDGy { bottom: 90px; left: 730px; }
#penLGy { bottom: 125px; left: 880px; }
#penW { bottom: 85px; left: 1040px; }

#overlay {
    width: 450px;
    height: 728px;
    position: absolute;
    right: 0;
    background-image: url("./images/wall.jpg");
    background-size: 100% 100%;
    visibility: hidden;
}

#overlayBtn {
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: black;
    top: 5px;
    right: 5px;
    font-size: 30px;
    position: absolute;
}

#overlayImg {
    width: 330px;
    height: 360px;
    background-image: url(./images/fish.jpg);
    background-size: 100% 100%;
    position: absolute;
    left: 60px;
    top: 125px;
    border: 5px solid #6B926E;
}

.tape {
    background-color: #ffffff76;
    border: 1px solid #707070;
    position: absolute;
}

#imgTape {
    width: 150px;
    height: 50px;
    top: 100px;
    left: 150px;
}

#overlayText {
    width: 360px;
    height: 60px;
    color: black;
    background-color: #ffffff90;
    position: absolute;
    padding: 20px;
    left: 30px;
    border-radius: 25px;
    top: 520px;
}

.pageBtn {
    background-color: #ffffff83;
    border-radius: 49px;
    border: 1px solid #707070;
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.pageBtn:hover {
    background-color: white;
}

#toSecPage { width: 260px; height: 50px; }

/* start of page 2 style */

#toThirdPage { width: 200px; height: 50px; }

#pg2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mag {
    background-color: black;
    border: 15px solid red;
    margin: 20px;
    width: 554px;
    height: 652px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    background-image: url("");
    background-size: cover;
    position: relative;
}

#border {
    width: 552px;
    height: 650px;
    border: 2px solid white;
}

h2 {
    color: white;
    font-size: 130px;
    margin: 0;
    text-align: center;
    font-family: 'Bodoni Moda';
    font-weight: 400;
}

img {
    display: none;
}

h5 {
    font-size: x-small;
    color: black;
    font-family: "Roboto Mono";
    font-weight: 400;
}

#center1 {
    width: 500px;
    margin: 0 auto;
    text-align: center; 
}

#left1 {
    width: 230px;
    bottom: 5px;
}

#left2 {
    width: 500px;
    top: -30px;
    left: 0;
}

.leftText {
    position: absolute;
    left: 15px;
}

#right1 {
    position: absolute;
    top: -30px;
    right: 1px;
}

h3 {
    margin-bottom: 0px;
    color: white;
    font-weight: normal;
    font-size: 25px;
}

p {
    color: white;
    margin-top: 10px;
    font-size: medium;
    font-weight: 400;
}

input:focus {
    outline: none;
    background-color: #EEE;
    color: black;
}

#inputBox {
    background-color: rgb(255 255 255 / 27%);
    width: 434px;
    border-radius: 27px;
    height: 560px;
    text-align: center;
    flex-direction: column;
    display: flex;
}

form {
    display: inline-grid;
    margin: auto;
    margin-top: 0;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(255 255 255 / 52%);
    border: none;
    border-radius: 15px;
    color: black;
    box-shadow: inset 0px 3px 10px 2px rgb(187 187 187 / 50%);
}

select {
    padding: 10px;
    margin-bottom: 20px;
    color: black;
    background-color: rgb(255 255 255 / 52%);
    border: none;
    border-radius: 15px;
    outline: none;
    box-shadow: inset 0px 3px 10px 2px rgb(187 187 187 / 50%);
}

h4 {
    color: black;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-top: 22px;
}

label {
    text-align: left;
    color: black;
    margin-bottom: 5px;
    font-weight: normal;
}

.buttonPg2 {
    color: black;
    background-color: rgb(255 255 255 / 52%);
    border: none;
    width: 110px;
    height: 30px;
    font-weight: lighter;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    outline: none;
    box-shadow: 0px 3px 10px 2px rgb(187 187 187 / 50%);
}

.buttonPg2:hover {
    color: black;
    background-color: white;
}

#magTape1 {
    width: 125px;
    height: 50px;
    top: 10px;
    right: 85px;
    transform: rotate(45deg);
}

#magTape2 {
    width: 125px;
    height: 50px;
    bottom: 15px;
    left: 600px;
    transform: rotate(45deg);
}

/* Page 3 styles */
#magPg3 {
    width: 615px;
    height: 720px;
    background-color: white;
    position: absolute;
    top: 380px;
    left: 370px;
}

#pg3 {
    width: 1366px;
    height: 1500px;
    background-image: url("./images/finalBackground.jpg");
    background-size: 100% 100%;
    position: relative;
}

#mag3 {
    background-color: black;
    border: 15px solid red;
    margin: 20px;
    width: 600px;
    height: 690px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    background-image: url("");
    background-size: cover;
    position: absolute;
    top: 360px;
    left: 270px;
}

#border3 {
    width: 598px;
    height: 688px;
    border: 2px solid white;
}

#center1C {
    width: 500px;
    margin: 0 auto;
    text-align: center; 
}

#left1C {
    width: 230px;
    bottom: 5px;
}

#left2C {
    width: 500px;
    top: -30px;
    left: 0;
}

#right1C {
    position: absolute;
    top: -30px;
    right: 1px;
}